<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <!-- se utiliza framework de boostrap para los estilos -->
  <link rel="stylesheet" href="../scss/custom.css">
  <link rel="stylesheet" href="../scss/estilos.css">
  <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../scss/estilos.css">
  
  <link rel="stylesheet" href="../scss/slide.css">
  <link rel="stylesheet" href="../scss/simple-sidebar.css">

  <title>
    <%= titulo%>
  </title>
</head>

<body>