<div class="col-auto col-md-4 col-xl-3">
    <nav
      class="navbar bg-primary fixed-top col-auto col-md-4 col-xl-3 px-sm-3 px-0  min-vh-100 align-items-sm-start">
      <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto " data-bs-theme="bg-primary">
        <li class="nav-item ">
          <a class="nav-link fw-bold text-white" href="index.ejs">Inicio</a>
        </li>
        <li class="nav-item  dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-white " href="#" role="button" data-bs-toggle="dropdown"
            aria-current="page">
            <i class=" bi bi-geo-alt-fill"></i>
            Conversión y Transformación
          </a>

          <ul class="dropdown-menu ">
            <li><a class="dropdown-item " href="principal.html">Punto individual</a></li>
            <li><a class="dropdown-item" href="#">Archivo</a></li>
            <li><a class="dropdown-item" href="#">Crear origen cartesiano</a></li>
            <li><a class="dropdown-item" href="#">Editar o Eliminar Origen Cartesiano</a></li>
          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ondulación Geoidal
          </a>

          <ul class="dropdown-menu dropdown-menu-primary">
            <li><a class="dropdown-item" href="#">Punto individual</a></li>
            <li><a class="dropdown-item" href="#">Archivo</a></li>
          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Nivelación GPS
          </a>

          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Punto individual</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cálculos Elipsoidales
          </a>
          <ul class="dropdown-menu dropdown-menu-primary">
            <li><a class="dropdown-item" href="#">Cálculo Problema Geodésico Inverso</a></li>
            <li><a class="dropdown-item" href="#">Cálculo Problema Geodésico Directo</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cálculo Velocidades
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Punto Individual</a></li>
            <li><a class="dropdown-item" href="#">Archivo</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cambio de Época
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Punto Individual</a></li>
            <li><a class="dropdown-item" href="#">Archivo</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  fw-bold text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Transformación de marco <br> internacional de referencia terrestre
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="ITRF.html">DEL ITRF1990 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF1991 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF1992 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF1993 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF1994 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF1996 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF1997 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF2000 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF2005 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF2008 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF2020 AL ITRF2014</a></li>
            <li><a class="dropdown-item" href="#">DEL ITRF2014 AL ITRF2020</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link  fw-bold text-white">
            Configuración
          </a>

        </li>
    </nav>
  </div>