<%- include('./partials/cabecero.ejs', {"titulo": "Cálculos elipsoidales" }); %>
    <%- include('./partials/menu.ejs'); %>

        <div class="card shadow">
            <div class="card-header">
                <h2>Cálculo Problema geodésico</h2>
            </div>
            <div class="card-body">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="panel_directo_tab" data-bs-toggle="tab"
                            data-bs-target="#panel_directo" type="button" role="tab" aria-controls="panel_directo"
                            aria-selected="true">Directo</button>
                        <button class="nav-link" id="panel_inverso_tab" data-bs-toggle="tab"
                            data-bs-target="#panel_inverso" type="button" role="tab" aria-controls="panel_inverso"
                            aria-selected="false">Inverso</button>
                    </div>
                </nav>

            </div>
        </div>

        <div class="tab-content" id="nav-tabContent">
            <br>
            <div id="panel_directo" class="tab-pane fade show active card" id="panel_directo" role="tabpanel"
                aria-labelledby="panel_directo_tab" tabindex="0">
                <div class="card-header">
                    <h2>Problema geodésico Directo</h2>
                </div>
                <div class="card-body">
                    <!--aca inicia el formulario que envia los datos a js/calculo_geodesico.js-->
                    <form id="cal_directo">

                        <div class="input-group">
                            <span class="input-group-text col-md-2">Latitud: </span>
                            <input type="number" class="form-control " placeholder="GG" id="lat_gg_d" min="0" max="360" required>
                            <input type="number" class="form-control" placeholder="MM" id="lat_mm_d" min="0" max="60" required>
                            <input type="number" class="form-control" placeholder="SS.SSSS" id="lat_ss_d" required>
                            <select class="input-group-text col-md-1" id="hemisferio">
                                <option selected value="N">N</option>
                                <option value="S">S</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text col-md-2">Longitud: </span>
                            <input type="number" class="form-control" placeholder="GG" id="long_gg_d" min="0" max="360"  required>
                            <input type="number" class="form-control" placeholder="MM" id="long_mm_d" min="0" max="60"  required>
                            <input type="number" class="form-control" placeholder="SS.SSSS" id="long_ss_d" required>
                            <select class="input-group-text col-md-1">
                                <option selected value="W">W</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-md-2">Distancia (m): </span>
                            <input type="number" aria-label="First name" class="form-control"
                                placeholder="distancia en metros" id="dist_d" required>

                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-md-2">Azimut 1-2: </span>
                            <input type="number" aria-label="First name" class="form-control" id="az_gg_d" placeholder="GG" min="0" max="360"  required>
                            <input type="number" aria-label="Last name" class="form-control" id="az_mm_d" placeholder="MM" min="0" max="60"  required>
                            <input type="number" aria-label="Last name" class="form-control" id="az_ss_d" placeholder="SS.SSSS"  required>

                        </div>
                        <br>
                        <input type="submit" class="btn btn-info" value="Calcular">

                    </form>
                    <br><br>
                    <!-- resultados del problema geodesico directo -->
                    <div id="res_directo">
                        <div class="card-header">
                            <h2>Resultados</h2>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text col-md-2">Latitud 2: </span>
                            <input id="res_lat_gg" type="number" aria-label="First name" class="form-control" placeholder="GG" disabled>
                            <input id="res_lat_mm" type="number" aria-label="Last name" class="form-control" placeholder="MM" disabled>
                            <input id="res_lat_ss" type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS" disabled>
                            <select class="input-group-text col-md-1" id="res_hemisferio"  disabled>
                                <option selected value="N">N</option>
                                <option value="S">S</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-md-2">Longitud 2: </span>
                            <input id="res_long_gg" type="number" aria-label="First name" class="form-control" placeholder="GG"  disabled>
                            <input id="res_long_mm" type="number" aria-label="Last name" class="form-control" placeholder="MM"  disabled>
                            <input id="res_long_ss" type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS"  disabled>
                            <select class="input-group-text col-md-1"  disabled>
                                <option selected value="W">W</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text col-md-2">Azimut 2-1: </span>
                            <input id="res_az_gg" type="number" aria-label="First name" class="form-control" placeholder="GG"  disabled>
                            <input id="res_az_mm" type="number" aria-label="Last name" class="form-control" placeholder="MM"  disabled>
                            <input id="res_az_ss" type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS"  disabled>

                        </div>
                    </div>

                </div>
            </div>


            <!-- Panel inverso -->


            <div id="panel_inverso" class="tab-pane fade card" role="tabpanel" aria-labelledby="panel_inverso_tab"
                tabindex="0">
                <div class="card-header">
                    <h2>Problema geodésico Inverso</h2>
                </div>
                <div class="card-body">
                    <h5>Coordenadas del punto 1</h5>
                    <div class="input-group">
                        <span class="input-group-text col-md-2">Latitud 1: </span>
                        <input type="number" class="form-control " placeholder="GG" min="0" max="360">
                        <input type="number" class="form-control" placeholder="MM" min="0" max="60">
                        <input type="number" class="form-control" placeholder="SS.SSSS">
                        <select class="input-group-text col-md-1">
                            <option selected value="N">N</option>
                            <option value="S">S</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text col-md-2">Longitud 1: </span>
                        <input type="number" class="form-control" placeholder="GG" min="0" max="360">
                        <input type="number" class="form-control" placeholder="MM" min="0" max="60">
                        <input type="number" class="form-control" placeholder="SS.SSSS">
                        <select class="input-group-text col-md-1">
                            <option selected value="W">W</option>
                        </select>
                    </div>
                    <br>
                    <h5>Coordenadas del punto 2</h5>
                    <div class="input-group">
                        <span class="input-group-text col-md-2">Latitud 2: </span>
                        <input type="number" aria-label="First name" class="form-control" placeholder="GG" min="0"
                            max="360">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="MM" min="0"
                            max="60">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS">
                        <select class="input-group-text col-md-1">
                            <option selected value="N">N</option>
                            <option value="S">S</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text col-md-2">Longitud 2: </span>
                        <input type="number" aria-label="First name" class="form-control" placeholder="GG">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="MM">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS">
                        <select class="input-group-text col-md-1">
                            <option selected value="W">W</option>
                        </select>
                    </div>


                    <br>
                    <input type="submit" class="btn btn-info" value="Calcular">
                    <br><br>

                    <div class="card-header">
                        <h2>Resultados</h2>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text col-md-2">Distancia (m): </span>
                        <input type="number" aria-label="First name" class="form-control"
                            placeholder="distancia en metros">

                    </div>
                    <div class="input-group">
                        <span class="input-group-text col-md-2">Azimut 1-2: </span>
                        <input type="number" aria-label="First name" class="form-control" placeholder="GG">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="MM">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS">

                    </div>

                    <div class="input-group">
                        <span class="input-group-text col-md-2">Azimut 2-1: </span>
                        <input type="number" aria-label="First name" class="form-control" placeholder="GG">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="MM">
                        <input type="number" aria-label="Last name" class="form-control" placeholder="SS.SSSS">

                    </div>
                </div>
            </div>
        </div>


        <script src="../js/calculo_geodesico.js"></script>

        <%- include('./partials/pie.ejs'); %>