<%- include('./partials/cabecero.ejs', {"titulo": "Bienvenido"}); %>



  <%- include('./partials/menu.ejs'); %>

      

      <div class="col-auto col-md-8 col-xl-10">
        <h1>Bienvenidos a la versión beta de Magna sirgas</h1>



      </div>

  <%- include('./partials/pie.ejs'); %>
    