<%- include('./partials/cabecero.ejs', {"titulo": "Bienvenido" }); %>
  <%- include('./partials/menu.ejs'); %>

<!--este es el menu de la pagina principal-->

    
      <h1>Bienvenidos a la versión beta de Magna sirgas</h1>
      <div class="row">
        <a class="card col-md-4 btn" href="conver_trans.ejs">
          <img src="../img/conversion_coordenas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Conversión y Transformación de coordenadas
            </p>
          </div>
        </a>
        <a class="card col-md-4 btn" href="">
          <img src="../img/ondulacion_geoidal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Ondulación geoidal
            </p>
          </div>
        </a>
        <a class="card col-md-4 btn" href="">
          <img src="../img/nivelacion_gps.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Nivelación GPS
            </p>
          </div>
        </a>
        <a class="card col-md-4 btn" href="calc_inver_direct.ejs">
          <img src="../img/nivelacion_gps3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Cálculos Elipsoidales
            </p>
          </div>
        </a>
        <a class="card col-md-4 btn"  href="">
          <img src="../img/calculo_velocidades.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Cálculo Velocidades
            </p>
          </div>
        </a>
        <a class="card col-md-4 btn" href="">
          <img src="../img/paisaje_ghibli2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Cambio de Época
            </p>
          </div>
        </a>
        <a class="card col-md-4 btn" href="ITRF.ejs">
          <img src="../img/nivelacion_gps.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Transformación de marco <br> internacional de referencia terrestre
            </p>
          </div>
        </d>
        <a class="card col-md-4 btn"  href="">
          <img src="../img/paisaje_ghibli.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Configuración
            </p>
          </div>
        </a>

      </div>
    

    <%- include('./partials/pie.ejs'); %>