/* 
.fondo {

    background: white; 
}
.fondopantalla {
    background:#ffffff; 
   }
.oculto{
    display: none;
}
 */

/* Variables de raíz */
:root {
    --main-bg-color: linear-gradient(135deg, #000000, #001f3f);
    --primary-color: #ffffff;
    --secondary-color: #001f3f;
    --text-color: #ffffff;
}


/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--main-bg-color);
    color: var(--text-color);
    overflow: auto;
    height: 100vh;
}



/* Fondo de partículas */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Estilos de video de introducción */
#introVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

/* Contenido principal oculto inicialmente */
.main-content {
    display: none;
    /* margin-left: 300px;  */
    margin-right: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
    background: var(--bg-translucent);
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

/* Estilos de tarjeta */
.card {
    background: transparent;
    border: 1px;
    color: var(--primary-color);
    font-weight: bold;

}

.panel {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    flex: 1;
}

.card-header {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--card-header-bg-color);
    color: var(--primary-color);
    text-align: center;
    z-index: 10;
    padding: 15px;
    border-bottom: 1px solid var(--border-color-regular);
}

/* Estilos de formulario */
.form-group label {
    font-weight: bold;
    color: var(--primary-color);
}

.form-control {
    background: rgba(253, 251, 251, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-color);
}

.form-control::placeholder {
    color: var(--text-muted-color);
}

.form-control:focus {
    background: var(--focus-bg-color);
    color: var(--text-color);
}

/* Botones */

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-hover-color);
}

/* Paneles */
.panel {
    background: var(--panel-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
}

.panel h2,
.panel h3 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Pestañas */
.nav-tabs .nav-link {
    background: transparent;
    border: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-tabs .nav-link.active {
    color: #000000;
    border-bottom: 2px solid var(--primary-color);
}

.nav-tabs .nav-link:hover {
    color: var(--text-color);
}

/* Personalización de partículas */
.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
}

.title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}


.municipio-label {
    font-size: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    pointer-events: none;
}


/* Contenedor de puntos base */
.puntos-base-container {
    max-height: 200px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Contenedor de la tabla con scroll horizontal y vertical */
.file-preview-container {
    max-height: 300px;
    /* Limita la altura */
    max-width: 100%;
    /* Limita el ancho */
    overflow-x: auto;
    /* Scroll horizontal */
    overflow-y: auto;
    /* Scroll vertical */
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Tabla de vista previa */
table.file-preview {
    width: max-content;
    /* Permite que las columnas ocupen su tamaño natural */
    table-layout: auto;
    /* Deja que las columnas se ajusten al contenido */
    border-collapse: collapse;
    /* Combina bordes */
    font-size: 14px;
    /* Tamaño del texto */
}

table.file-preview th,
table.file-preview td {
    text-align: center;
    padding: 8px;
    /* Espaciado interno */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Bordes claros */
    word-wrap: break-word;
    /* Ajusta texto largo */
}

.text-muted {
    color: #ffffff !important;
    /* Cambia a blanco */
    opacity: 0.7;
    /* Reduce ligeramente la opacidad para mantener el efecto tenue */
}

.popup_invisible .leaflet-popup-content-wrapper {
    background-color: transparent;
    box-shadow: none;
    padding: 5px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 15px;
    margin-bottom: 0;
}

.popup_invisible .leaflet-popup-content {
    color: black;
    /* Texto negro */
    font-size: 10px;
    /* Tamaño de la letra */
    font-family: Arial, sans-serif;
    /* Fuente */
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-align: center;
}

.popup_invisible .leaflet-popup-tip {
    display: none;
    /* Ocultar la punta del popup (opcional) */
}